#map {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.leaflet-container a.leaflet-popup-close-button {
  margin-right: 2px;
}

.leaflet-popup-pane, .leaflet-control {
    cursor: auto;
    text-align: justify;
}

.leaflet-control-layers-toggle {
    background-image: url("leaflet/images/layers.png");
    height: 36px;
    width: 36px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
    margin-right: 8px;
}
