  <nav class="navbar navbar-toggleable-sm navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if logged_in? %>
          <li class="nav-item active">
            <%= link_to("Inicio", root_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to("Informe", surveys_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to("Gráficos", charts_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to("Cerrar sesión", logout_path, :class => "nav-link") %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to("Iniciar sesión", login_path, :class => "nav-link") %>
          </li>
          <% end %>
        </ul>
      </div>
  </nav>
