<!DOCTYPE html>
<html lang="es-co">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Guardianes de la Salud - Dashboard">
    <meta name="author" content="CENTEIAS">

    <title>Guardianes de la Salud - Dashboard</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/menu' %>
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>

  </body>
</html>
